<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
  <title>I 💔 New York</title>
</head>
<body>
  <h1>New York, I Love You But You're Bringing Me Down🗽</h1>

  <form id="add-form">
    <div class="input-wrap">
      <input type="text" placeholder="Write.." name="list"/>
    </div>
  </form>

  <section>
    <div id="list">
    </div>
  </section>
  <script src="client.js"></script>
</body>
</html>